<% layout('layouts/boilerplate') %>
<div class="container mt-5">
  <div
    class="alert alert-danger alert-dismissible fade show text-center"
    role="alert"
  >
    <h4 class="alert-heading">Error</h4>
    <p><%= message %></p>
  </div>
</div>
